# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
.DS_Store
Thumbs.db

# System-specific
.env.local
.env.development.local
.env.test.local
.env.production.local
